// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

:root{
    --data-color-darker-purple:#3d323e;
    --data-color-dark-purple:#594959;
    --data-color-blue:#c7dfe1;
}



body{
    background-color: var(--data-color-blue);
}
h1{
    color: var(--data-color-blue);
}